<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      {% if title %}
      <title>{{ title }} - Microblog</title>
      {% else %}
      <title>Welcome to Microblog</title>
      {% endif %}
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <script>
        window.onscroll = function() {myFunction()};

        var navbar = document.getElementById("navbar");

        var sticky = navbar.offsetTop;

        function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
       }

    </script>
    <div class = "Header">

    </div>
    <div id = "navbar">
        <a href="">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
    </div>

    <hr>
    {% block content %} {% endblock %}
</body>
</html>